/* =========================
   FONTS
========================= */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300&family=Jost:wght@300;400;500&display=swap');
/* =========================
   RESET / BASE
========================= */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root {
  --darkAccent-hsl: 240, 2.6%, 22.5%;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.1);
}

body {
  font-family: "Noto Sans", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 2.8rem;
  color: #0d1619;
}


/* =========================
   LAYOUT
========================= */
.wht {
  color: #fff;
}

.wrapper {
  /* margin: 0 6vw; */
  display: flex;
  flex-direction: column;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;

}

.header img {
  height: 40px;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-arrow {
  position: absolute;
  font-size: 44px;
  right: 13px;
  transform: translate(10px, 200px);
animation: pull-pulse 3s ease-in-out infinite;
}

/* =========================
   HERO
========================= */
.hero {
  position: relative;
  height: 100vh;
}

.hero__welcome-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.9;
}

.hero__welcome-img img {
  width: 100%;
  opacity: .68;
  display: flex;
  object-fit: cover;
  height: 100vh;
}

.hero__welcome-title {
  position: absolute;
  width: 72%;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  text-align: center;
  color: #0d1619;
  z-index: 50;
}

.hero__welcome-sub {
  left: 50%;
  position: absolute;
  text-align: center;
  z-index: 50;
  transform: translate(-50%, -50%);
  top: 22vh;
  letter-spacing: 2px;

}

.hero__bookbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  height: 50px;
  border: 2px solid #000;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}

.hero__bookbtn:hover {
  background-color: #111;
  color: #fff;
}

/* =========================
   SERVICES
========================= */
.services {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-menu {
  display: flex;
  gap: 18px;
  font-size: 1.4rem;
  text-decoration: underline;
  font-family: "Raleway", sans-serif;
  margin: 6px 0 10px;
}

.services-menu-items {
  cursor: pointer;
  color: #6f6f6fb0;
  font-weight: 600;
}


.services__container-big img {
  width: 22rem;
  height: 14rem;
  border-radius: 10px;
}

.services-description {
  width: 22rem;
  margin: 10px 0;
}


.services-types {
  display: flex;
  gap: 20px;
}



/* =========================
   SOCIAL
========================= */
.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  color: #fff;
}

.socials__title {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
}



/* =========================
   GALLERY
========================= */

/* .gallery__container img {
  height: 200px;
  width: 100px;
} */

.gallery__container {
  display: flex;
}

.gallery_wrapper {
  display: flex;
}

/* appointment sevices page */
.appoitment-option {
  display: flex;
  margin: 10px;
  gap: 14px;
}

.appointment-options {
  border-top: 1px solid #474646;

}

.reviews {
  /* background-image: url("reviews.gif"); */
  background-color: #c3c3c3;
  padding: 40px;
}

/* Footer */
footer {
  background-color: #9e3aa7;

}

.footer_table {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.footer_table.row {
  border-bottom: .5px solid #6e6e6e;
}

footer p {
  color: #edd9ba;
  font-family: "Montserrat", sans-serif;
}

.footer-icon {
  border-radius: 10px;
  padding: 10px;
  border: .8px solid #c9a97a;
  font-size: 2.7rem;
  color: black;
  cursor: pointer;

}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #755e3a;
  padding: 20px 0 0;
  align-items: center;
}

.footer-socials {
  display: flex;
  gap: 5px;
}

.row:has(.footer-tb.ls) {
  border: none;
}

.footer-icon {}

/* =========================
   TABLET
========================= */
@media (min-width: 768px) {

  .hero__welcome-title {
    font-size: 3.5rem;
  }

  .services__container-big img {
    width: 26rem;
    height: 16rem;
  }

}


/* =========================
   DESKTOP
========================= */
@media (min-width: 1024px) {

  /* hero */
  .hero {
    background-color: #a999b9;
  }

  .nav-open-icon {
    display: none;
  }

  .hero__welcome {
    display: flex;
  }

  .hero__welcome-title {
    width: 50%;
    top: 35%;
    font-size: 4rem;
    line-height: 67px;
  }

  .hero__bookbtn {
    width: 260px;
  }

  /* header */


  .header img {
    height: 100px;
    width: 100px;
  }

  .header_menu {
    display: flex;
    gap: 30px;
    font-size: 1.6em;
    letter-spacing: 1px;
    display: flex;
    align-items: center;

  }

  .header_menu-items {
    font-size: .75em;
    cursor: pointer;
  }

  .header_menu button {
    width: 150px;
    height: 50px;
    border: 2px solid #000;
    background: transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    border: 2px solid #000;
  }

  .header_menu button:hover {
    background-color: #000;
    color: #fff;
    transition: ease-in .4s;
  }


  .wrapper {
    margin: 0 6vw;
  }

  /* services */

  .services {
    margin-top: 40px;
  }

  .services h2 {
    font-weight: 600;
  }

  .services__container {
    display: flex;
    gap: 150px;
    align-items: center;
  }

  .services__container-big img {
    object-fit: cover;
    height: 400px;
    width: 700px;
    border-radius: 0;
  }

  .services-description {
    text-align: center;
    font-family: 'Montserrat';
    line-height: 21px;
    letter-spacing: 1px;
  }

  .services-menu {
    display: none;
  }

  .services-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .services-types {
    display: flex;
    justify-content: center;
  }

  .services__container-btn.dsktp {
    letter-spacing: 2px;
    width: 170px;
    height: 40px;
    background-color: inherit;
    border: 1px solid #333;
    cursor: pointer;
  }

  .services__container-btn:hover {
    background-color: #db76d3;
  }

  .appointment {
    padding-left: 6vw;
    margin-top: 15px;
    font-family: "Roboto", sans-serif;
  }

  .appointment__head-title {
    font-weight: 500;
    font-size: 1.7em;
    color: #0d1619;
    font-style: normal;
    margin-bottom: 30px;
    letter-spacing: 0.1px;
  }

  .appointment__service {
    display: flex;
    flex-direction: column;
    /* width: 92%; */
    position: relative;
    z-index: 1;
    padding: 10px;
    border-radius: 8px;

  }

  .appointment__services-img {
    border-radius: 8px;
    margin: 4px 0;
  }

  .appointment__service-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .appointment__service-button {
    letter-spacing: 1px;
    font-weight: 700;
    color: #fff;
    background-color: #7a757c;
    border-radius: 10px;
    width: 100px;
    height: 45px;
    font-family: 'Noto Sans';
    border: none;
    font-weight: 700;
    cursor: pointer;
  }

  .rmv {
    font-weight: 500;

  }

  .appointment__service img {
    width: 100%;
    height: 200px;
  }

  .appointment__service-select {
    display: flex;
    padding-bottom: 10px;
    border: 1px solid #e7e6e7;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
    margin-bottom: 25px;
    border-radius: 12px;
    width: 50%;
    padding: 15px;

  }

  .appointment__service-title {
    font-weight: 400;
    letter-spacing: .03rem;
    font-family: 'Raleway';
    padding: 5px 0;
    font-size: 1.3rem;
  }

  .appointment__services {
    overflow: auto;
    scroll-behavior: smooth;
    height: 65vh;
    padding-right: 6vw;
  }

  .appointment__service img {
    object-fit: cover;
  }

  .appointment__service-description {
    letter-spacing: 1px;
    color: #3b3131;
    margin: 10px 0;
    font-family: 'Noto Sans';
  }


  .appointment__service-duration {
    color: gray;
    font-family: 'Noto Sans';
    letter-spacing: 1px;
  }


  .appointment__button {
    display: flex;
    border-top: 1px solid #e7e6e7;
    justify-content: space-between;
    position: absolute;
    width: 40%;
    right: 109px;
    top: 20vh;
    padding: 17px;
    font-weight: 600;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    background-color: #30005544;
  }

  .appointment__button button {
    background-color: #161616;
    border-radius: 8px;
    width: 113px;
    height: 48px;
    font-family: "Noto Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    letter-spacing: 1px;
  }

  .appointment__button-price {

    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: .1rem;
  }

  .appointment__button-services {
    color: gray;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
  }

  .appointment-options {
    border-top: 1px solid #636262;
    padding: 10px 0;
    margin-top: 10px;
  }

  .appoitment-option {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .appointment-selected-options {
    position: absolute;
    width: 100%;
    right: 0px;
    top: 9vh;
    padding: 17px;
    font-weight: 600;
    border: 1px solid #ccccccaf;
    overflow: scroll;
    border-radius: 12px;
    max-height: 300px;

  }

  .appointment-selected-options ul>li {
    color: #979797;
    margin: 10px 0;
    letter-spacing: 1px;
    list-style: square;
    margin-left: 10px;
    font-family: "Noto Sans", sans-serif;
  }

  .nail {
    display: flex;
    gap: 16px;
    align-items: center;
    height: 48px;
    width: 119px;
    background-color: #ac92bc;
    border-radius: 16px;
    justify-content: center;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  .nail button {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .nail .nail-btn {
    width: 1em;
    height: 1em;
    color: #646060;
  }

  /* reviews */
  .gallery {
    margin: 50px;
  }

  .gallery__heading {
    padding: 40px;
  }

  /* end reviews */
  /* End appointment services */
  .mobl {
    display: none;
  }

  .bookform__header {
    font-size: 2.1rem;
    color: #fff;
    background-color: #000000;
    font-family: 'Raleway';
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: -webkit-sticky;
    height: 105px;
    padding-left: 100px;
    gap: 20px;
  }

  /* Appointment Date -selection */
  .appointment__form-date {
    margin: 0 6vw;
  }

  .date {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 80px;
  }

  .date input {
    width: 200px;
    padding: 5px auto;
  }

  .times {
    display: grid;
    place-items: center;
    height: 100px;
    overflow-y: auto;
    margin-bottom: 40px;
  }

  .time {
    display: flex;
    font-size: 1rem;
    border: 1px solid #e9e9e9;
    color: #000000;
    border-radius: 20px;
    width: 300px;
    font-weight: 400;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    margin-bottom: 10px;
    height: 40px;
    justify-content: center;
  }

  .time__confirmation {
    font-weight: 600;
    margin-bottom: 10px;
    padding-left: 10vw;
    letter-spacing: 0.3px;
    font-family: "Raleway", sans-serif;
  }

  .date__confirmation {
    padding-left: 10vw;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
  }

  .appointment__form-date-btn {
    background-color: #663399;
    background-color: #663399;
    color: #fff;
    width: 220px;
    display: flex;
    margin: 27px auto 60px;
    font-size: 0.9rem;
    height: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
    border-radius: 18px;
  }

  /* End Appointment Date -selection  */



  /* =========================
   BOOK
========================= */

  .book {
    background-color: #e3c7e4;
    height: 500px;
    position: relative;
    margin: 60px;
    justify-items: baseline;
    padding: 50px;

  }

  .book h2 {
    font-weight: 700;
    position: relative;
    text-align: center;
    color: #959595;
    margin: 50px;
    left: 50%;
    transform: translate(-50%, 50%);

  }

  .book__btn {
    position: relative;
    left: 50%;
    height: 60px;
    width: 300px;
    transform: translate(-50%, 50%);
    letter-spacing: 2px;
    cursor: pointer;
  }


  /* =========================
   GALLERY
========================= */

  .gallery h2 {
    letter-spacing: 2px;
  }

  .gallery__container img {
    height: 360px;
    width: 260px;
  }

  .gallery_wrapper {
    overflow-x: scroll;
  }

  /* =========================
   REVIEWS
========================= */

  .reviews {
    margin: 40px;
    font-family: 'Noto Sans';
    letter-spacing: 8px;

  }



  .reviews_section {
    margin: 40px;
    display: flex;
    gap: 30px;
    margin: 40px;
    justify-content: center;
  }

  .review__container {
    border: none;
    background-color: #a999b9;
    height: 300px;
    width: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    line-height: 25px;
    padding: 10px;
    letter-spacing: 1px;
  }


  /* end review container */


  /* Booking form */

  .review {
    font-family: "PT Sans", sans-serif;
    margin: 0 30vw;

  }

  .review__heading {
    margin: 20px 0;
    font-size: 1.4rem;
    font-weight: 600;
    padding-left: 6vw;
    /* font-family: "PT Sans", sans-serif; */
    text-transform: uppercase;
    color: #222831;
  }

  .header-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 6vw;
    font-weight: 600;
    color: #7f8486;
    font-family: "PT Sans", sans-serif;
    margin-top: 15px;
    font-size: 14px;
    width: 113%;

  }



  .table-body {
    font-family: "PT Sans", sans-serif;
    margin-bottom: 20px;
    /* border: 1px solid #6f6f6f; */

  }

  .table-row {
    display: flex;
    padding: 0px 6vw;
    justify-content: space-between;
    color: #0d1619;
    margin: 4px;
    width: 113%;
  }

  .contact {
    position: relative;
    font-family: "PT Sans", sans-serif;
    margin: 0 30vw;

  }

  .contact_group-row {
    display: flex;
    gap: 10px;
  }

  .contact_group-row input {
    width: 100%;
  }

  .contact-header {
    font-size: 16px;
    font-weight: 600;
    padding-left: 6vw;
    margin-bottom: 16px;
    color: #222831;
  }

  .contact__group {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .contact__group label {
    margin-bottom: 4px;
    font-weight: 400;
    padding-left: 6vw;
    margin: 5px;
    color: #2f3133;
    /* #212529 */
    font-size: 14px;
    font-family: inherit;
    font-weight: 500;
  }

  .contact__group input {
    height: 35px;
    border-radius: 5px;
    margin-left: 6vw;
    border: 1px solid #ced4da;
    margin-bottom: 8px;
    font-size: 14px;
    padding-left: 15px;
    transition: 0.5s;
  }

  .contact__group textarea {
    width: 85%;
    border-radius: 5px;
    margin-left: 6vw;
    border: 1px solid #ced4da;
    padding: 10px 15px;
    font-size: 14px;
    font-family: inherit;
  }

  .contact__bookbtn {
    background-color: #161616;
    color: #fff;
    height: 55px;
    width: 300px;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    position: relative;
    top: 20px;
    left: 110px;
    letter-spacing: 1px;

  }

  .form__group {
    display: flex;
    flex-direction: column;
  }

  /* End Booking form */

  /* Confirmation */

  .confirmation {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0 8vw 5vw;
  }

  .confirmation-img {
    width: 330px;
  }

  .button-confirm {
    background-color: #95D0A9;
    color: #FDFDFD;
    height: 51px;
    width: 187px;
    border: none;
    font-size: 2rem;
    font-weight: 600;
  }

  /* End Confirmation */
}

/* Footer */
footer {
  padding: 10px;
}

.footer-title {
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
  color: #fff;
}

.footer-title.brand {
  font-size: 1.8rem;
}

.footer-top {
  font-weight: 500;
  letter-spacing: 1.3px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #4c3411;
}



.nail-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 20px;
}

.footer_header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-brand-desc {
  width: 50%;
}



.footer_table .row {
  border-bottom: 1px solid;
  justify-content: space-between;

}


/*End Footer*/


@media only screen and (max-width: 480px) {
  :root {
    /* overflow-x: hidden; */
    --darkAccent-hsl: 240, 2.60869565%, 22.54901961%;
    margin: 0;
    padding: 0;
    /* background-color: #F5F3F2; */
    background-color: hsla(var(0, 0%, 100%), 1);

    a {
      text-decoration: none;
      color: inherit;
    }

    li {
      list-style-type: none;
      margin-bottom: 15px;
    }
  }

 @keyframes pull-pulse {
  0%, 100% { transform: translate(10px, 200px); opacity: 1; }
  40%       { transform: translate(-14px, 200px); opacity: 0.5; }
  60%       { transform: translate(10px, 200px); opacity: 1; }
}

  .custom-hr {
    border-bottom: 1px solid #e7e6e7;
    height: 0.4em;
  }

  .hero__welcome-title {
    position: absolute;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 0.95em;
    top: 41vh;
    z-index: 2;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    text-align: center;
    letter-spacing: -2.5px;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .nav-open-icon {
    right: 0;
    position: absolute;
    top: 4vh;
    margin-right: 50px;
    font-size: 30px;

  }

  .hero__welcome-sub {
    width: max-content;
    left: 50%;
    top: 22vh;
    text-align: center;
    position: absolute;
    font-weight: 500;
    z-index: 200;
    color: #721e9196;
    letter-spacing: 1px;
    font-size: 0.84rem;
    font-family: 'Raleway', serif;
  }

  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }

  /* Navbar socials*/
  .header {
    display: none;
  }

  .header__nav-socials {
    display: flex;
    padding-left: 10vw;
    position: absolute;
    bottom: 15vh;
    gap: 10px;
  }

  .header__nav-socials li {
    font-size: 1.2rem;
  }

  /* End Navbar socials */

  /* Navbar / Sidepanel*/

  /* logo */
  .header__logo {
    display: flex;
    align-items: center;
    padding-right: 6vw;
  }


  .header__logo img {
    height: 40px;
    margin-left: 6vw;
  }

  .header__log-title {
    padding-left: 18px;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    color: #181717;
  }

  /* End Logo */

  /* Open btn */

  .header__logo button {
    font-size: 1.2rem;
    cursor: pointer;
    color: #313638;
    padding-right: 6vw;
    background-color: initial;
    border: none;
    font-weight: 100;
    z-index: 20;
  }

  /* End Open Navbar */

  .header__nav {
    z-index: 10;
    left: 0;
    justify-content: center;
    top: 0;
    background-color: #fff;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: 120ms transform ease-in-out;
  }

  .header__menu {
    padding-top: 25vh;
    padding-left: 10vw;
    transition: 0.5s;
    transition: all 1.5s ease-out;
    display: flex;
    flex-direction: column;
  }

  .header__menu a {
    font-family: 'Noto Sans';
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding-bottom: 20px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #a999b9;
  }

  .header__logo {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
  }

  /* End Navar */

  /* Book btn */
  .header__nav-bookbtn {
    position: absolute;
    bottom: 6vh;
    left: 20px;
    transform: translateY(0);
  }

  .header__nav-bookbtn button {
    height: 50px;
    width: 200px;
    background-color: #fff;
    font-family: "Pontano Sans", sans-serif;
    font-weight: 500;
    border: 2px solid black;
  }

  /* End Book btn */

  /*Hero / home image */

  .main {
    overflow-x: hidden;
  }

  .hero {
    position: relative;
    z-index: 1;
    background-color: 0, 0%, 100%;
  }

  .hero__welcome {
    height: 86vh;
    position: relative;
  }

  .hero__welcome img {
    margin: 0 auto;
    opacity: .68;
    display: flex;
    object-fit: cover;
  }

  /* End home image */

  /* landing page*/
  .hero__bookbtn {
    width: 245px !important;
    height: 55px !important;
    position: absolute;
    background-color: #ffd4d4;
    top: 65vh;
    border: 2px solid black;
    right: 10vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-top: 15px;
    border-radius: 18px;
  }




  .hero__bookbtn:hover {
    background-color: #fff;
    transition: ease-in .4s;

  }

  /* End Welcome page */

  /* Services */
  .services {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services-menu {
    display: flex;
    gap: 18px;
    text-decoration: underline;
    font-size: 1.4rem;
    color: #262627;
    font-family: "Raleway", sans-serif;
  }

  .services__container {
    margin-bottom: 20px;
  }

  .services__container-big img {
    border-radius: 11px;
    height: 14rem;
    width: 22rem;
    display: flex;
    margin: 0 auto;
  }


  .services-description {
    text-align: left;
    padding: 12px;
  }

  .services__container-small img {
    height: 11rem;
    width: 12rem;
  }

  .services__title {
    text-transform: uppercase;
    font-size: 0.937rem;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.1em;
  }

  .services__sub {
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
    color: #6f6f6f;
    font-style: normal;
  }

  .services__container-btn {
    background-color: transparent;
    width: 240px;
    height: 40px;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    border: 2px solid #333;
    font-weight: 500;
    display: none;
  }

  .services__container-btn:hover {
    background-color: gray;
    color: #fff;
  }

  .services__container-btn.dsktp {
    display: none;
  }

  .services-types {
    align-items: center;
    display: flex;
    gap: 20px;
    padding-left: 10px;
  }

  .nail {
    display: flex;
    gap: 16px;
    align-items: center;
    height: 48px;
    width: 119px;
    background-color: #ac92bc;
    border-radius: 16px;
    justify-content: center;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  .nail button {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nail .nail-btn {
    width: 1em;
    height: 1em;
    color: #646060;
  }

  /* End Services */

  /* Social */
  .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./assets/krbhome.jpg");
    height: 300px;
    width: 100%;
    color: #fff;
    z-index: 1;
  }

  .socials__title {
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    position: relative;
    top: 30px;
    z-index: 2;
    font-weight: 600;
  }

  .socials__followus {
    position: relative;
    top: 60px;
  }

  .socials__title {}

  .socials_link-btn {
    background-color: initial;
    width: 230px;
    height: 49px;
    position: relative;
    top: 80px;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
  }

  .social__sub-title {
    margin-top: 30px;
  }

  /* End Social */

  /* heading at the top */
  .bookform__header {
    font-size: 1.1rem;
    color: #fff;
    background-color: #000000;
    font-family: 'Raleway';
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: -webkit-sticky;
    height: 75px;
  }

  .angle-icon {
    margin: 0 25px;
  }

  /* end heading at the top */

  /* book */
  .book {
    margin-top: 30px;
    position: relative;
    height: 430px;
    background-color: hsla(var(--darkAccent-hsl), 1);
  }

  .book h2 {
    color: #897e8b;
    line-height: 50px;
    position: relative;
    top: 115px;
    font-weight: 600;

  }

  .book__heading {
    margin-bottom: 29px;
    line-height: 50px;
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    text-align: center;
    color: #fff;
    position: relative;
    top: 35%;
  }

  .book__btn {
    position: absolute;
    left: 50%;
    top: 63%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: initial;
    color: white;
    border: 1px solid #6f6f6f;
    cursor: pointer;
    height: 50px;
    width: 260px;
  }

  .book__btn:hover {
    background-color: #646060;
    color: #fff;
  }

  /* End book */
  /* Gallery */
  .gallery__heading {
    margin-bottom: 29px;
    line-height: 55px;
    font-family: "Playfair Display", serif;
    font-size: 3.6rem;
    text-align: center;
  }

  .gallery_wrapper {
    display: flex;
    flex-direction: column;
  }

  .gallery {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .gallery__container {
    display: flex;
    justify-content: center;
  }

  .gallery__container img {
    margin-bottom: 0;
    width: 170px;
  }

  /* End Gallery */

  /* Reviews */
  .reviews {
    margin: 0 4vw;
  }

  .reviews_section {
    display: flex;
    flex-direction: column;
    background-color: #c3c3c3;
    align-items: center;
    /* background-image: url("reviews.gif"); */
  }

  .review__title {
    font-size: 2.4rem;
    text-align: center;
    margin-top: 20px;
  }

  .review__container-review {
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    padding: 15px;
    line-height: 1.7rem;
    width: 330px;
  }

  .review__container-name {
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }

  /* End Reviews */


  /*  Booking form*/

  /* End Booking form */
  /* Choose service - appointment */
  .appointment {
    padding-left: 6vw;
    margin-top: 15px;
    font-family: "Roboto", sans-serif;
  }

  .appointment__head-title {
    font-weight: 500;
    font-size: 1.7em;
    color: #0d1619;
    font-style: normal;
    margin-bottom: 30px;
    letter-spacing: 0.1px;
  }

  .appointment__service {
    display: flex;
    flex-direction: column;
    /* width: 92%; */
    position: relative;
    z-index: 1;
    padding: 0 2px 3px;
    border-radius: 8px;

  }

  .appointment__services-img {
    border-radius: 8px;
    margin: 4px 0;
  }

  .appointment__service-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .appointment__service-button {
    letter-spacing: 1px;
    font-weight: 700;
    color: #fff;
    background-color: #7a757c;
    border-radius: 10px;
    width: 100px;
    height: 45px;
    font-family: 'Noto Sans';
    border: none;
    font-weight: 700;
  }

  .appointment-selected-options {
    display: none;
  }

  .appointment-selected-options ul>li {
    color: #979797;


  }


  .rmv {
    font-weight: 500;

  }

  .appointment__service img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .appointment__service-select {
    display: flex;
    padding: 10px;
    border: 1px solid #e7e6e7;
    align-items: center;
    border-radius: 12px;
    justify-content: space-between;
    margin: 10px 0;
  }

  .appointment__service-title {
    font-weight: 400;
    letter-spacing: .03rem;
    font-family: 'Raleway';
    padding: 5px 0;
    font-size: 1.3rem;
  }

  .appointment__services {
    overflow: auto;
    scroll-behavior: smooth;
    height: 65vh;
    padding-right: 6vw;
  }

  .appointment__service-description {
    letter-spacing: 1px;
    color: #3b3131;
    margin: 10px 0;
    font-family: 'Noto Sans';
    overflow-wrap: break-word;
    white-space: normal;
    word-wrap: break-word;
    text-overflow: ellipsis;
    padding: 5px;
  }


  .appointment__service-duration {
    color: gray;
    font-family: 'Noto Sans';
    letter-spacing: 1px;
  }


  .appointment__button {
    display: flex;
    border-top: 1px solid #e7e6e7;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 17px;
    bottom: 0;
    font-weight: 600;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;

  }

  .appointment__button button {
    background-color: #161616;
    border-radius: 8px;
    width: 113px;
    height: 48px;
    font-family: "Noto Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .appointment__button-price {

    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: .1rem;
  }

  .appointment__button-services {
    color: gray;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
  }

  /* End appointment services */
  /* Choose services /End */

  /* / Menu */

  .menu {
    margin-left: 6vw;
  }

  .menu__heading {
    font-size: 2rem;
    margin-bottom: 5px;
  }

  .menu__subheading {
    color: #6f6f6f;
    margin-bottom: 20px;
  }

  .menu__container {
    background-color: #fcf8fe;
    width: 90%;
    margin-bottom: 30px;
  }

  .menu__pricelist-row {
    display: flex;
    justify-content: space-between;
    height: 20px;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
  }

  .menu__title {
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    border: none;
    width: 300px;
    height: 40px;
    background-color: #ac92bc;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #fff;
  }

  .menu__bg-pink {
    background-color: #c3c3c3;
  }

  .menu__pricelist li {
    font-family: "Open Sans", sans-serif;
  }

  /* End Menu */

  /* Appointment Date -selection */
  .appointment__form-date {
    margin: 0 6vw;
  }

  .date {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 80px;
  }

  .date input {
    width: 200px;
    padding: 5px auto;
  }

  .times {
    display: grid;
    place-items: center;
    height: 100px;
    overflow-y: auto;
    margin-bottom: 40px;
  }

  .time {
    display: flex;
    font-size: 1rem;
    border: 1px solid #e9e9e9;
    color: #000000;
    border-radius: 20px;
    width: 300px;
    font-weight: 400;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    margin-bottom: 10px;
    height: 40px;
    justify-content: center;
  }

  .time__confirmation {
    font-weight: 600;
    margin-bottom: 10px;
    padding-left: 10vw;
    letter-spacing: 0.3px;
    font-family: "Raleway", sans-serif;
  }

  .date__confirmation {
    padding-left: 10vw;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
  }

  .appointment__form-date-btn {
    background-color: #1b1b1b;
    color: #fff;
    width: 220px;
    display: flex;
    margin: 27px auto 60px;
    font-size: 0.9rem;
    height: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
    border-radius: 18px;
  }

  /* End Appointment Date -selection  */

  /* Payment page */
  .payment {
    border: 1px solid #6f6f6f;
    width: 89%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .payment__content {
    width: 90%;
    margin: 0 auto;
  }

  .payment__title {
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    padding: 7px 15px;
  }

  .payment__sub {
    margin-bottom: 15px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
  }

  .payment__minimum {
    font-weight: 600;
    margin: 14px 0;
    font-family: "Open Sans", sans-serif;
    line-height: 19px;
    font-size: 14px;
  }

  .payment__details {
    background-color: #28a745;
    border: none;
    width: 250px;
    margin: 0 auto;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    inline-size: 75%;
    width: 291px;
    border-radius: 4px;
  }

  .please__note-detail {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
  }

  .please__note-detail li {
    margin: 0;
    font-family: "Open Sans", sans-serif;
  }

  .payment__bank-account {
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
  }

  .please__note ul li {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin-bottom: 9px;
  }

  /* Payment */

  /* Booking form */

  .review {
    font-family: "PT Sans", sans-serif;
  }

  .review__heading {
    margin: 20px 0;
    font-size: 1.4rem;
    font-weight: 600;
    padding-left: 6vw;
    /* font-family: "PT Sans", sans-serif; */
    text-transform: uppercase;
    color: #222831;
  }

  .header-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 6vw;
    font-weight: 600;
    color: #7f8486;
    font-family: "PT Sans", sans-serif;
    margin-top: 15px;
    font-size: 14px;
  }



  .header_menu {
    display: none;
  }

  .table-body {
    font-family: "PT Sans", sans-serif;
    margin-bottom: 20px;
    /* border: 1px solid #6f6f6f; */
  }

  .table-row {
    display: flex;
    padding: 0px 6vw;
    justify-content: space-between;
    color: #0d1619;
    margin: 4px;
  }

  .contact {
    position: relative;
    font-family: "PT Sans", sans-serif;
  }

  .contact-header {
    font-size: 16px;
    font-weight: 600;
    padding-left: 6vw;
    margin-bottom: 16px;
    color: #222831;
  }

  .contact__group {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .contact__group label {
    margin-bottom: 4px;
    font-weight: 400;
    padding-left: 6vw;
    margin: 5px;
    color: #2f3133;
    /* #212529 */
    font-size: 14px;
    font-family: inherit;
    font-weight: 500;
  }

  .contact__group input {
    width: 85%;
    height: 35px;
    border-radius: 5px;
    margin-left: 6vw;
    border: 1px solid #ced4da;
    margin-bottom: 8px;
    font-size: 14px;
    padding-left: 15px;
    transition: 0.5s;
  }

  .contact__group textarea {
    width: 85%;
    border-radius: 5px;
    margin-left: 6vw;
    border: 1px solid #ced4da;
    padding: 10px 15px;
    font-size: 14px;
    font-family: inherit;
  }

  .contact__bookbtn {
    letter-spacing: 1px;
    background-color: #050505e3;
    color: #fff;
    height: 35px;
    border-radius: 20px;
    position: relative;
    margin: 40px auto;
    display: flex;
    align-items: center;
    width: 190px;
    justify-content: center;
    height: 44px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
  }

  .contact__bookbtn:hover {
    background-color: #262627 !important;
  }

  .form__group {
    display: flex;
    flex-direction: column;
  }

  /* End Booking form */

  /* Confirmation */

  .confirmation {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0 8vw 5vw;
  }

  .confirmation-img {
    width: 330px;
  }

  .button-confirm {
    background-color: #95D0A9;
    color: #FDFDFD;
    height: 51px;
    width: 187px;
    border: none;
    font-size: 2rem;
    font-weight: 600;


  }

  /* End Confirmation */

  /* footer */

  footer {
    border-radius: 20px;
    margin: 4vw;
    padding: 10px;
  }

  .footer-bottom {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    flex-direction: row-reverse;
    justify-items: center;

  }

  .footer-brand-desc {
    width: 61%;
  }

  .nail-footer {
    display: flex;
    flex-direction: column;
  }

  .footer-top {
    padding: 5px 0;
  }

  .footer-title {
    padding: 5px 0;
  }

  .footer_header {
    border-bottom: 1px solid;
    padding-bottom: 5px;
    gap: 1px;
    padding: 15px 0;
  }

  .footer_header.bt {
    border: none;
  }


}